<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>shipFail_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{480,270}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{480,270}}</string>
				<key>sourceSize</key>
				<string>{480,270}</string>
			</dict>

			<key>shipFail_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,271},{480,270}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{480,270}}</string>
				<key>sourceSize</key>
				<string>{480,270}</string>
			</dict>

			<key>shipFail_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,542},{480,270}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{480,270}}</string>
				<key>sourceSize</key>
				<string>{480,270}</string>
			</dict>

			<key>shipFail_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,813},{480,270}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{480,270}}</string>
				<key>sourceSize</key>
				<string>{480,270}</string>
			</dict>

			<key>shipFail_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1084},{480,270}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{480,270}}</string>
				<key>sourceSize</key>
				<string>{480,270}</string>
			</dict>

			<key>shipFail_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1355},{480,270}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{480,270}}</string>
				<key>sourceSize</key>
				<string>{480,270}</string>
			</dict>

			<key>shipFail_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1626},{480,270}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{480,270}}</string>
				<key>sourceSize</key>
				<string>{480,270}</string>
			</dict>

			<key>shipFail_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{481,0},{480,270}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{480,270}}</string>
				<key>sourceSize</key>
				<string>{480,270}</string>
			</dict>

			<key>shipFail_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{481,271},{480,270}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{480,270}}</string>
				<key>sourceSize</key>
				<string>{480,270}</string>
			</dict>

			<key>shipFail_010.png</key>
			<dict>
				<key>frame</key>
				<string>{{481,542},{480,270}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{480,270}}</string>
				<key>sourceSize</key>
				<string>{480,270}</string>
			</dict>

			<key>shipFail_011.png</key>
			<dict>
				<key>frame</key>
				<string>{{1443,0},{480,270}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{480,270}}</string>
				<key>sourceSize</key>
				<string>{480,270}</string>
			</dict>

			<key>shipFail_012.png</key>
			<dict>
				<key>frame</key>
				<string>{{481,1084},{480,270}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{480,270}}</string>
				<key>sourceSize</key>
				<string>{480,270}</string>
			</dict>

			<key>shipFail_013.png</key>
			<dict>
				<key>frame</key>
				<string>{{481,1355},{480,270}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{480,270}}</string>
				<key>sourceSize</key>
				<string>{480,270}</string>
			</dict>

			<key>shipFail_014.png</key>
			<dict>
				<key>frame</key>
				<string>{{481,1626},{480,270}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{480,270}}</string>
				<key>sourceSize</key>
				<string>{480,270}</string>
			</dict>

			<key>shipFail_015.png</key>
			<dict>
				<key>frame</key>
				<string>{{962,0},{480,270}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{480,270}}</string>
				<key>sourceSize</key>
				<string>{480,270}</string>
			</dict>

			<key>shipFail_016.png</key>
			<dict>
				<key>frame</key>
				<string>{{962,271},{480,270}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{480,270}}</string>
				<key>sourceSize</key>
				<string>{480,270}</string>
			</dict>

			<key>shipFail_017.png</key>
			<dict>
				<key>frame</key>
				<string>{{962,542},{480,270}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{480,270}}</string>
				<key>sourceSize</key>
				<string>{480,270}</string>
			</dict>

			<key>shipFail_018.png</key>
			<dict>
				<key>frame</key>
				<string>{{962,813},{480,270}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{480,270}}</string>
				<key>sourceSize</key>
				<string>{480,270}</string>
			</dict>

			<key>shipFail_019.png</key>
			<dict>
				<key>frame</key>
				<string>{{962,1084},{480,270}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{480,270}}</string>
				<key>sourceSize</key>
				<string>{480,270}</string>
			</dict>

			<key>shipFail_020.png</key>
			<dict>
				<key>frame</key>
				<string>{{962,1355},{480,270}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{480,270}}</string>
				<key>sourceSize</key>
				<string>{480,270}</string>
			</dict>

			<key>shipFail_021.png</key>
			<dict>
				<key>frame</key>
				<string>{{962,1626},{480,270}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{480,270}}</string>
				<key>sourceSize</key>
				<string>{480,270}</string>
			</dict>

			<key>shipFail_022.png</key>
			<dict>
				<key>frame</key>
				<string>{{481,813},{480,270}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{480,270}}</string>
				<key>sourceSize</key>
				<string>{480,270}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,2048}</string>
			<key>textureFileName</key>
			<string>ship.png</string>
			</dict>
		</dict>
</plist>